doctype html

mixin space
    | !{' '}

mixin speedometer
    div.speedometer
        div.center
            .bars.center
                - var n = 0;
                while n++ < 9
                    div.center.bar
                //div.center.bar

            .nums.center
                - var n = 0;
                while n++ < 5
                    div.center.num= n * 20
        div.pointer

html(lang="en")
    head
        | <!-- Built from master@12345 at 01.01.2000 -->
        meta(charset="UTF-8")
        title="typing-test"
        //script(src="bundle.js")

        link(href="https://fonts.googleapis.com/css?family=Questrial", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Mono", rel="stylesheet")

        //link(rel="stylesheet" href="style.css")

    body
        div.page-container
            h1 Typing test

            div.page-description Challenge your typing skills in 1 minute test. Have fun!

            div.test-ui
                div.words-container
                    div.scrollable-words-container
                        - var n = 0;
                        while n < 0
                            - var text = "Word" + n;

                            if n < 23
                                if (Math.random() < 0.2)
                                    div.task-word.task-word-incorrect= text
                                else
                                    div.task-word.task-word-correct= text
                            else if n === 23
                                div.task-word.task-word-current= text
                            else
                                div.task-word= text

                            - n++;

                div.test-results-container(style="display: none;")
                    div.test-results
                        | Your score is
                        +space
                        span#test-results-value-cpm 123
                        +space
                        span.test-stats-value-description CPM
                        +space
                        | (
                        span#test-results-value-wpm 50
                        +space
                        span.test-stats-value-description WPM
                        | )

                    div.test-results
                        | You type faster than
                        +space
                        span#test-results-value-percentage 0
                        | % of other players!

                    +speedometer

                    div.test-results Have a break or play again

                div.test-ui-footer
                    div.test-timer 1:00
                    input.test-ui-input(placeholder="type here")

                    div.vert-centered-container.new-test-container
                        a.vert-centered-text.new-test(href="/#", style="display: none;") Start a new test

                    div.vert-centered-container.restart-container
                        div.vert-centered-text.restart Restart

            div.test-stats
                +speedometer

                div.test-stats-footer
                    div.test-stats-value-description(title="test") CPM
                    div.test-stats-value#test-stats-value-cpm –

                    div.test-stats-value-description WPM
                    div.test-stats-value#test-stats-value-wpm –

                    div.test-stats-value-description(style="margin-right: 0;") Typos
                    div.test-stats-value#test-stats-value-typos(style="margin-right: 0;") –